<p-splitter [panelSizes]="[20, 80]" styleClass="h-screen surface-ground" layout="vertical">
  <ng-template pTemplate>
    <div class="flex justify-content-between flex-wrap w-full">
      <div class="flex align-items-center justify-content-center font-bold border-round text-5xl text-center w-full">This is NAVBAR</div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[20, 60, 20]" styleClass="m-0 p-0">
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center bg-red-400 text-5xl text-white">
          Panel 1
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center bg-green-400 text-5xl text-white">
          <p-card header="Card header" subheader="Card Subheader" class="w-full h-full" styleClass="w-full h-full">
            <ng-template pTemplate="header">
              <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center justify-content-center  bg-primary font-bold border-round m-2"><p-button label="Float left" severity="secondary" /></div>
                <div class="flex align-items-center justify-content-center bg-primary font-bold border-round m-2"><p-button label="Float right" /></div>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="h-full w-full">
                <ul>
                  <li>Ensure that this card occupies the entire height and width of the green panel.</li>
                </ul>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center justify-content-center bg-primary font-bold border-round m-2"><p-button label="Float left" severity="secondary" /></div>
                <div class="flex align-items-center justify-content-center bg-primary font-bold border-round m-2"><p-button label="Float right" /></div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center bg-blue-400 text-5xl text-white">
          Panel 3
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>
</p-splitter>
