<div class="m-5 p-5"></div>

<p-splitter [panelSizes]="[20, 60, 20]" styleClass="m-0 p-0 h-screen">
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center bg-red-400 text-5xl text-white">
      Panel 1
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center bg-green-400 text-5xl text-white">
      Panel 2
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center bg-blue-400 text-5xl text-white">
      Panel 3
    </div>
  </ng-template>
</p-splitter>

<!--<router-outlet></router-outlet>-->
